In [8]:
import pandas as pd 
import csv
import os
import random

In [9]:
datasets = []
datasets_path = []
df_step =[]
df = []
mydict = {}

In [5]:
def compend_datasets_columns():
    for subdir, dirs, files in os.walk("./DataSets/"):
        for filename in files:
            filepath = subdir + os.sep + filename
            if filepath.endswith(".csv"):
                datasets.append(filename)
                datasets_path.append(filepath)
                
    for i in range(len(datasets)):
        df_step = pd.read_csv(datasets_path[i])
       
        for col in df_step.columns:
            mydict[col] = df_step.at[0, col] , df_step.at[random.randrange(len(df_step.columns)), col], df_step.at[random.randrange(len(df_step.columns)), col] 
            
    clear_array(datasets)
    clear_array(datasets_path)

    dataframe = pd.DataFrame.from_dict(mydict, orient='index')
    dataframe = dataframe.reindex()
    dataframe = dataframe.rename(columns={'index':'name',0:'example1',1:'example2',2:'example3'})


    return dataframe

def clear_array(array):
    array = []

def export(dataframe):
    dataframe.to_csv('compendium.csv', index=False)

In [7]:
dataframe = compend_datasets_columns()
dataframe

,example1,example2,example3
days_on_market,10,0,1
Plasma glucose concentration,148,183,183
Average_Credit_Balance,>=1000,<100,<100
t1,3,2,2
systemic_crisis,1,1,1
rental_price,2271,2271,2271
personal_status,male single,male single,female div/dep/mar
year,2008,1999,2001
neighborhood,south_side,south_side,downtown
total,6,4,6
employment,>=7,4<=X<7,>=7
existing_credits,2,1,2
cnt,182,72,182
current_balance,5711,3972,4272
Diabetes pedigree function,0.627,0.627,0.167
Diastolic blood pressure,72,70,74
other_parties,none,co applicant,none
2-Hour serum insulin,0,0,94
is_weekend,1,1,1
cc3,ZWE,ZWE,ZWE
gdp_weighted_default,0,0,0
sovereign_external_debt_default,1,1,0
Triceps skin fold thickness,35,45,0
property_magnitude,car,no known property,real estate
hum,93,100,93
credit_history,critical/other existing credit,existing paid,no credits/all paid
Class,positive,positive,positive
independence,1,1,1
Body mass index,33.6,31,26.6
A,2,2,2
...,...,...,...
weather_code,3,4,1
exch_usd,0.002,5.6e-23,0.002
job,high qualif/self emp/mgmt,high qualif/self emp/mgmt,skilled
is_holiday,0,0,0
currency_crises,1,0,0
purpose,used car,new car,furniture/equipment
own_telephone,yes,yes,yes
number_of_rooms,0,3,0
class,good,good,good
case,70,70,70
foreign_worker,yes,yes,yes
over_draft,no checking,no checking,<0
banking_crisis,crisis,crisis,crisis
country,Zimbabwe,Zimbabwe,Zimbabwe
sqft,"484,8",1219,529
other_payment_plans,none,none,none
t2,2,0,-1
location,great,good,great
season,3,3,3
initial_price,2271,2167,2271
residence_since,2,4,2
inflation_annual_cpi,2.19897e+07,55.2037,598.745
domestic_debt_in_default,1,0,1
num_dependents,1,1,1
Number of times pregnant,6,1,10
wind_speed,6,7,4
credit_usage,36,48,48
number_of_bathrooms,1,2,1
housing,own,own,rent
inflation_crises,1,1,1